<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload PDF</title>
</head>
<body>
    <h1>Upload PDF File</h1>
    <div class="upload-section">
            <input type="file" id="fileInput" accept="application/pdf">
            <button id="submitButton">Submit File</button>
    </div>
    <div class="action-buttons">
            <button id="extractButton">Extract Keywords</button>
    </div>
    <div id="message" class="message"></div>
    <script src="/static/scripts.js"></script>
</body>
</html>
